<script type="text/javascript" src="fitlers.js"></script>
<b>Search for A Shipment:</b>
<form action="create_User()">
    <p><label>
        Date:
        <input type="text" name="name" id="name" required>
    </label></p>
    <p><label>
        Location:
        <input type="text" name="uid" id="uid" required>
    </label></p>
    <p><label>
        Contributors:
        <input type="password" name="password" id="password" required>
    </label></p>
    <p><label>
        Time:
        <input type="tel" name="phone_num" id="phone_num"
            pattern="[0-9]{3}:[0-9]{2}"
            placeholder="123:59">
    </label></p>
    <p>
        <button type="button"
        onclick="document.getElementById('demo').innerHTML = Date()">Create</button>
    </p>
</form>